@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.poppins{
  font-family: var(--font-poppins);
}

.inter{
  font-family: var(--font-inter);
}

.slide-in {
  position: relative;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}