@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.poppins{
  font-family: var(--font-poppins);
}

.inter{
  font-family: var(--font-inter);
}
